@use '../../../../assets/scss/helpers/rem' as r;

.mat-expansion-panel-header-description {
  justify-content: space-between;
}

.mat-form-field {
  max-width: r.rem(150);
}

.full-field {
  max-width: r.rem(538);
  width: 100%;
}

.controls-divisor {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  button {
    max-height: r.rem(35);
  }
}
