<mat-card [ngClass]="{ 'bg-purple': !editMode }">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>message</mat-icon>
    </div>
    <div class="text-wrapper">
      <p class="title">#{{ appointment?.id }}</p>
      <p class="sub-title">{{ appointment?.telNumbers.join(",") }}</p>
    </div>
    <span class="data-info">{{ appointment?.shippingTime }}</span>
    <div class="controls-wrapper">
      <button mat-mini-fab class="dark-button" (click)="editMode = true">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <div *ngIf="editMode">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Telefones</mat-label>
        <textarea matInput>{{ appointment?.telNumbers.join(",") }}</textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="editMode = false">
        Cancelar
      </button>
      <button mat-raised-button color="primary">Editar</button>
    </mat-card-actions>
  </div>
</mat-card>
