<mat-card [ngClass]="{ 'bg-purple': !editMode }">
  <form [formGroup]="formGroup">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>message</mat-icon>
      </div>
      <div class="text-wrapper">
        <p class="title">#{{ appointment?.id }}</p>
        <p class="sub-title">{{ appointment?.telNumbers.join(",") }}</p>
      </div>
      <span *ngIf="!editMode" class="data-info">{{
        appointment?.sendTime | date: "dd/MM/yyyy - HH:mm"
      }}</span>

      <input
        *ngIf="editMode"
        matInput
        type="datetime-local"
        [value]="appointment?.sendTime"
        formControlName="sendTime"
      />

      <div class="controls-wrapper">
        <button mat-mini-fab class="dark-button" (click)="editMode = true">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="removeItem(appointment?.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <div *ngIf="editMode">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Telefones</mat-label>
          <textarea matInput formControlName="telNumbers"></textarea>
        </mat-form-field>
        <mat-form-field class="full-field">
          <mat-label>SMS</mat-label>
          <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="editMode = false">
          Cancelar
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="editItem()"
          [disabled]="formGroup?.invalid"
        >
          Editar
        </button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>
