@import "./assets/scss/utils/reset";
@import "./assets/scss/utils/colors";
@import "./assets/scss/themes/theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
